@import "./header.scss";

// [GLOBAL STYLES]

.container {
    max-width: 1344px;
}

// [Header]
.header {
    padding: 16px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    &__navigation {
        text-align: right;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;

        ul {
            li {
                display: inline-block;
                margin-right: 3rem;
                &:last-child{
                    margin: 0;
                }

                a {
                    display: block;
                }
            }

        }
    }
}

#landing {
    padding: 10rem 0;

    .landing {
        &__copy {
            &__bigDeal {
                font-size: 5rem;
            }
            &__narrative {
                p {
                    font-size: 1.2rem;
                    margin-bottom: 2rem;
                    padding-bottom: 2rem;
                    height: 11rem;
                }
            }
            &__typer {
                font-weight: bold;
                color: get-color(red,0);
            }
        }


        &__photo {
            img {
                width: 100%;
            }
        }
    }
}

//Photo Grid

.grid {
    &__wrapper {
        width: 100%;
        height: 600px;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(13,1fr);
        justify-content: stretch;
    }
    &__item {
        filter: grayscale(100%);
        border: 2px solid get-color(black);
        transition: filter 300ms ease-in-out;
        &:hover {
            filter: grayscale(0%);
        }
    }
    // Grid Photos
    &__photo {
        &__p1 {
            grid-column: 1 / span 6;
            grid-row:1/ span 9;
            background-color: get-color(yellow,5);
            background-image: url(../img/p1.png);
            background-size: cover;
        }
        &__p2 {
            grid-column: 1 / span 6;
            grid-row:10/ span 13;
            background-color: get-color(green,5);
            margin-top: 10px;
            background-image: url(../img/p2.png);
            background-size: cover;
        }
        &__p3 {
            grid-column: 7 / span 11;
            grid-row:1/ span 5;
            background-color: get-color(blue,5);
            margin-left: 10px;
            background-image: url(../img/p3.png);
            background-size: cover;
        }
        &__p4 {
            grid-column: 7 / span 11;
            grid-row:6/ span 3;
            background-color: get-color(red,5);
            margin-left: 10px;
            margin-top: 10px;
            background-image: url(../img/p4.png);
            background-size: cover;
        }
        &__p5 {
            grid-column: 7 / span 11;
            grid-row:9/ span 12;
            background-color: get-color(gray,5);
            margin-left: 10px;
            margin-top: 10px;
            background-image: url(../img/p5.png);
            background-size: cover;
        }
    }
}


/***
[Typography]
**/


/**
[UTILITY]
**/
// - Call to Actions [CTAs]
.cta {
    &__bordered {
        border: 1px solid;
    }
    &__button {
        display: inline-block;
        padding: .8rem;


        &--blue{
            color: get-color(white);
            background: get-color(blue,0);

            &:hover {
                background: darken(get-color(blue,0), 20%);
            }
        }
    }
}

// -- Numbers

.numbers {
    margin-top: 2rem;

    h4 {
        margin: 1rem 0 1rem 0;

    }
    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__entry {
            width: 48%;
            margin-bottom: 4%;

        }

    }

    &__digit {
        font-size: 2.4rem;
        font-weight: 600;
    }
    &__label {
        display: block;
        font-size: 14px;

    }
}

.engagement {
    border: 1px solid;

    &__photo{
        height: 300px;
        position: relative;
        overflow: hidden;
        &__image {
            border: 1px solid;
            img {
                width: 100%;
            }
        }

        &__underlay {
            border: 1px solid red;
            height: 100%;
            width: 100%;
            border-radius: 120px;
            transform: translate(50%, -120px) rotateZ(45deg);

            &--pink{
                background: #fff2ee;
            }
            &--green{
                background: #d1eaf0;
            }
            &--blue{
                background: #2281f9;
            }
        }
    }
    &__content {
        padding: 1rem;
        h3{
            margin: 0;
        }
    }
    &__action {
        border: 1px solid red;
        padding: 1rem;
        background: #3a2dbd;
        display: flex;
        justify-content: space-between;
    }
}
