@import "./header.scss";

// [GLOBAL STYLES]
.container {
    max-width: 1200px;
}


// [Header]
.header {
    padding: 1rem 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .branding {
        &__logo {
            width: 120px;
            height: auto;
        }
    }


    &__navigation {
        text-align: right;
        text-transform: uppercase;
        position: relative;

        ul {
            li {
                display: inline-block;
                font-size: 12px;
                margin-right: 2rem;

                &:last-child{
                    margin: 0;
                }

                a {
                    display: block;
                    font-weight: 500;
                    transition: color 300ms ease-in-out;
                    color: get-color(gray,2);
                    &:hover {
                        color: get-color(blue,0);
                    }
                }
            }

        }
        &__button {
            border: 1px solid;
            display: inline-flex;
            align-items: center;
            font-size: 1rem;
            padding: 4px 8px;
            transition: background-color color 300ms ease-in-out;

            &.is-active {
                color: get-color(white);
                background: get-color(black);
            }
        }

        &__mobile {
            border: 1px solid;
            font-size: 1rem;
            display: none;
            transition: all 300ms ease-in-out;

            &.is-active {
                position: absolute;
                display: block;
                width: 100%;
                top: 16px;
                background: get-color(white);
                left: 0;
                z-index: 1;

                li {
                    a {
                        border: 1px solid;
                        padding-right: 16px;
                        font-weight: bold;
                    }
                }
            }


            li {
                // border: 1px solid get-color(green,0);
                a {
                    padding: 10px 0;
                    display: block;
                    text-align: right;
                    font-weight: 500;
                }
            }

        }

        //Navigation Menu Bars
        &__bars {
            display: inline-block;
            width: 22px;
            height: 22px;
            margin-right: 8px;
            margin-top: 1px;
            position: relative;
            transform: rotate(0deg);
            transition: .5s ease-in-out;

            span {
                display: block;
                position: absolute;
                height: 4px;
                width: 100%;
                border-radius: 4px;
                background: get-color(black);
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;

                &:nth-child(1){
                    top: 1px;
                    transform-origin: left center;
                }
                &:nth-child(2){
                    top: 8px;
                    transform-origin: left center;
                }
                &:nth-child(3){
                    top: 15px;
                    transform-origin: left center;
                }
            }
            &.is-active {
                span {
                    &:nth-child(1){
                        transform: rotate(45deg);
                        top: 0px;
                        left: 1px;
                        background: get-color(white);
                    }
                    &:nth-child(2){
                        width: 0%;
                        opacity: 0;
                    }
                    &:nth-child(3){
                        transform: rotate(-45deg);
                        top: 16px;
                        left: 1px;
                        background: get-color(white);
                    }
                }
            }
        }
    }

}


// [Home]

.landing {
    padding: 8rem 0 4rem 0;

    @include phone {
        padding: 6rem 0 0rem 0;
        background: linear-gradient(180deg, get-color(blue,5) 65%, get-color(white) 65%);
    }


    &__copy {
        &__title{
            font-size: 3.2rem;
            margin-bottom: 2rem;
            overflow: hidden;
            padding-top: 2rem;

            span {

                display: block;
                animation: fadeInUp .8s;
                animation-delay: .5s;
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(.075, .82, .165, 1);
                transform: translateY(115%);
                display: block;

                &:nth-child(2){
                    animation-delay: .8s;
                }
                &:nth-child(3){
                    animation-delay: 1s;
                }
                &::selection {
                    background: get-color(yellow,3);
                }
            }

            &::selection {
                background: get-color(yellow,3);
            }

            @include phone {
                font-size: 2.6rem;
            }
        }
    }
    .col-md-6 {
        @include phone {
            padding-top: 20px;
            padding-bottom: 20px;
            overflow: hidden;
        }
    }

}


//Photo Grid

.grid {



    &__wrapper {
        width: 100%;
        height: 600px;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(13,1fr);
        justify-content: stretch;
        position: relative;


        &::before{
            content: "";
            border-radius: 3px;
            display: block;
            position: absolute;
            top: -20px;
            left: -20px;
            width: 200px;
            height: 200px;
            z-index: 0;

            /* Controls size of dot */
            color:  get-color(red,5);
            background-image: repeating-linear-gradient(45deg, currentColor 0, currentColor 1px, transparent 0, transparent 50%);
            background-size:10px 10px;

        }

        &::after{
            content: "";
            border-radius: 4px;
            // border: 1px solid get-color(yellow,5);
            display: block;
            position: absolute;
            bottom: -20px;
            right: -20px;
            width: 200px;
            height: 200px;
            z-index: 0;

            /* Controls size of dot */
            color:  get-color(yellow,3);
            background-image: repeating-linear-gradient(45deg, currentColor 0, currentColor 1px, transparent 0, transparent 50%);
            background-size:10px 10px;
        }
    }
    &__item {
        border-radius: 3px;
        z-index: 1;
    }
    // Grid Photos
    &__photo {

        position: relative;
        &__p1 {
            grid-column: 1 / span 6;
            grid-row:1/ span 9;
            background-color: get-color(yellow,5);
            background-image: url(../img/p1.png);
            background-size: cover;
        }
        &__p2 {
            grid-column: 1 / span 6;
            grid-row:10/ span 13;
            background-color: get-color(green,5);
            margin-top: 10px;
            background-image: url(../img/p2.png);
            background-size: cover;
        }
        &__p3 {
            grid-column: 7 / span 11;
            grid-row:1/ span 5;
            background-color: get-color(blue,5);
            margin-left: 10px;
            background-image: url(../img/p3.png);
            background-size: cover;
        }


        &__p4 {
            grid-column: 7 / span 11;
            grid-row:6/ span 3;
            background-color: get-color(red,5);
            margin-left: 10px;
            margin-top: 10px;
            background-image: url(../img/p4.png);
            background-size: cover;
        }
        &__p5 {
            grid-column: 7 / span 11;
            grid-row:9/ span 12;
            background-color: get-color(gray,5);
            margin-left: 10px;
            margin-top: 10px;
            background-image: url(../img/p5.png);
            background-size: cover;
        }

    }


}


.landing__ticker {
    margin-top: 2rem;
    position: relative;
    font-size: .8rem;
    height: 80px;
    display: block;

    h6 {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        color: get-color(gray,2);
    }
    &__slot {
        font-weight: 500;

    }

}

/***
[Typography]
**/


/**
[UTILITY]
**/
.button {
    border: 1px solid;
    display: inline-block;
    padding: .8rem 1.2rem;
    font-size: .85rem;
    margin: 1rem 0;
    border-radius: 2px;
    background: get-color(blue, 0);
    color: get-color(white);
}

.community {
    padding: 4rem 0;
    margin-top: 4rem;
    //background: linear-gradient(90deg, get-color(blue,5) 65%, get-color(white) 65%);

    .group__title {
        h1 {
            margin-bottom: 1rem;
        }
    }
    &__program {

        &__item {
            display: flex;
            justify-content: center;

            transition: background-color 300ms ease-in-out;
            margin-bottom: 1.5rem;


            &__icon {
                margin-right: .5rem;

                i {
                    font-size: 1rem;
                }
            }
            &__copy {
                font-size: 14px;
                h5 {
                    font-size: 1rem;
                    margin-bottom: .5rem;
                }

                p {
                    margin: 0;

                }
                a {
                    display: block;
                    margin-top: .5rem;
                }
            }

        }

    }

    &__signup {
        padding: 2rem;
        background: get-color(yellow,5);
        font-size: 16px;
        position: relative;
        border-radius: 3px;
        z-index: 3;
        margin-top: 5rem;

        &::before{
            content: "";
            border-radius: 3px;
            display: block;
            position: absolute;
            top: 0px;
            right: 0px;
            width: 100%;
            height: 100%;
            z-index: -1;

            /* Controls size of dot */
            color:  lighten(get-color(yellow,0),30%);
            background-image: repeating-linear-gradient(45deg, currentColor 0, currentColor 1px, transparent 0, transparent 50%);
            background-size:10px 10px;

        }

        &__title {
            text-align: center;
        }

        &__form {
            padding: 2rem;
            margin: 1rem 0;
            background: get-color(white);
            box-shadow: 0px 4px 6px 2px rgba(get-color(yellow,3),.3);

            border-radius: 3px;
            z-index: 2;

            @include phone {
                padding: 1rem;
            }

        }
    }

}


.events {
    margin: 4rem 0;
    padding: 3rem 0;


    .event__block {
        background: get-color(white);
        border-radius: 4px;
        padding: 1rem;
        box-shadow: 0px 0px 3px 0px rgba(10,10,10,0.32);
    }
}

.updates {
    padding: 8rem 0 4rem 0;


    &__item {

        border-radius: 3px;
        border: 2px solid get-color(dark);
        padding: 1rem;
        min-height: 420px;
        display: block;
        position: relative;
        background: get-color(white);


        @include phone {
            min-height: 380px;
            margin-bottom: 2rem;
        }

        &::after{
            content: "";
            width: 100%;
            height: 100%;
            background: get-color(blue,3);
            position: absolute;
            top: 12px;
            left: 12px;
            border-radius: 3px;
            z-index: -1;
            transition: all 300ms ease-in-out;

        }
        i {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            font-size: 2rem;
            transition: all 300ms ease-in-out;
        }
        h3 {
            font-size: 1.6rem;
            padding-top: .5rem;
        }

        .updates__item__meta {
            position: absolute;
            bottom: 1rem;
            left: 1rem;

        }



        &__type {
            //font-family: $mm-font-family-header;
            font-size: 14px;
            color: get-color(gray,2);
        }

        &__source {
            font-size: .9rem;
            display: block;
            padding: 1rem 0;
        }

        .event__date {

            font-family: $mm-font-family-header;
            display: inline-block;

            &__day {
                font-size: 3rem;
                font-weight: 400;
                display: block;
                line-height: 2rem;

            }
            &__month {
                font-size: 14px;

            }
        }

        &:hover {
            &::after {
                background: get-color(red,5);
            }
            i {
                color: get-color(red,0);
            }
        }
    }
}

//Generic Form Styling
.form {

    &__item {
        display: block;
        margin-bottom: 1rem;

        input[type=text],input[type=email] {
            width: 100%;
            border: 1px solid get-color(gray,4);
            font-size: 1rem;
            line-height: 1;
            padding: .5rem;
            border-radius: 3px;
        }
        .form__item__label {
            color: get-color(gray,1);
            font-weight: 500;
            display: block;
            line-height: 1.6;
            margin-bottom: .4rem;


            sup {
                color: get-color(red,0);
            }
        }

        &__description {
            font-size: .6rem;
            color: get-color(gray,0);
            display: inline-block;
            margin-top: .5rem;
        }
    }
    &__group {
        display: flex;
        justify-content: space-between;
        @include phone {
            flex-wrap: wrap;
        }
        >div {
            max-width: 48%;

            @include phone {
                width: 100%;
                max-width: 100%;
            }
        }


    }
    &__radio {
        display: flex;
        flex-wrap: wrap;

        .form__item__label {
            display: block;
            flex-shrink: 0;
            width: 100%;

        }
        &__option {
            margin-top: .5rem;
            margin-right: 1.2rem;

            label {
                padding-left: .3rem;
            }
        }
    }

    &__dropdown {

        select {
            border: 1px solid green;
            padding: .6rem 1rem;
        	width: 100%;
        	max-width: 100%;
        	box-sizing: border-box;
        	margin: 0;
        	border: 1px solid get-color(gray,4);
        	// box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        	border-radius: 3px;
        	appearance: none;
        	background-color: #fff;
        	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        	  linear-gradient(to bottom, #ffffff 0%, get-color(blue,5) 100%);
        	background-repeat: no-repeat, repeat;
        	background-position: right .7em top 50%, 0 0;
        	background-size: .65em auto, 100%;


            &::-ms-expand {
            	display: none;
            }
            &:hover {
            	border-color: #888;
            }
            &:focus {

            }

            option {
                font-weight: normal;
            }
        }
    }

    &__submit {
        &__button {
            @extend .button;
            cursor: pointer;
            width: 100%;
            background: get-color(blue, 0);
        }
        &__disclaimer {
            font-size: .6rem;
            display: block;
            a {
                text-decoration: underline;
                color: get-color(blue,0);
            }
        }

    }

}

//// Different Pages

.page__header {
    padding: 8rem 0 6rem 0;
    border: 2px solid;
}

.snippet__header {
    margin-bottom: 2rem;
}



////**** ANIMATIONS *****/

@keyframes up {
    to {
        transform: translateY(-5%)
    }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
