body,html {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.45;
}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  line-height: 1.15;
  font-family: $mm-font-family-header;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}



/// Font Families

/** silka_monoregular **/

@font-face {
    font-family: 'silka_monoregular';
    src: url('../font/silkamono/silkamono-regular-webfont.eot');
    src: url('../font/silkamono/silkamono-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/silkamono/silkamono-regular-webfont.woff2') format('woff2'),
         url('../font/silkamono/silkamono-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
